body {
  background: #0b0b0d;
  color: white;
  font-family: Poppins, sans-serif;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding-top: 30px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 30px;
}

input, textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  padding: 12px;
  background: #4b7bec;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.grid {
  display: grid;
  gap: 20px;
}

.note {
  padding: 16px;
  background: #1d1d22;
  border-radius: 10px;
}
